.sub-navbar {
    overflow: hidden;
    background-color: white;
    top: 0;
    width: 100%;
  }
  
  .sub-navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
  }
  
  .subtopnav-right{
    float: none;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }