.navbar {
    overflow: hidden;
    background-color: #2874f0;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    cursor: pointer;
  }
  
  .topnav-right{
      float: right;
  }
  .link-items{
    color:white !important;
    padding-right: 1rem;
    cursor: pointer;
  }
  .cart-count{
    position: absolute;
    top: 10px;
    color: yellow;
  }