.hidebtn {
    display: none;
} 

.item-image:hover + .hidebtn {
    display: block;
    color: red;
    position: absolute;
    bottom: 0
}
.heart-icon{
    position: absolute;
    right: 11px;
    background-color: white;
}