.hidebtn {
    display: none;
} 

.item-image:hover + .hidebtn {
    display: block;
    color: red;
    position: absolute;
    bottom: 0
}
.colorwhite{
    color: white;
}
.hearticon{
    position: absolute;
    right: 17px;
    top: 11px;
    cursor: pointer;
}
.colorred{
    color: red;
}
.view-all{
    color: blue !important;
}